<header role="banner">
  <div class="navbar navbar-dark box-shadow col-xl-12">
    <div class="container d-flex justify-content-between" *ngIf="router.url != '/persona'" >
      <a href="#" class="navbar-brand d-flex align-items-center">

          <img class="logo-icon" src="https://www.mercedes-benz.co.in/passengercars/_jcr_content/logo.noscale.cloudsvg.imageLogo.20180312084632.svg" title="Mercedes-Benz Logo" alt="Homepage">
          <img src="https://www.mercedes-benz.co.in/passengercars/_jcr_content/logo.noscale.cloudsvg.imageClaim.20180312084632.svg" title="Mercedes-Benz Claim" alt="Mercedes-Benz Claim">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <img src="assets/images/u36.png" style="
    width: 46px;
    border-radius:  100%;
">
      </button>
    </div>
<!-- Only for persona screen -->
    <div class="container d-flex justify-content-between"  *ngIf="router.url == '/persona'">

          <img class="logo-icon" src="https://www.mercedes-benz.co.in/passengercars/_jcr_content/logo.noscale.cloudsvg.imageLogo.20180312084632.svg" title="Mercedes-Benz Logo" alt="Homepage">
          <div class="persona-header">Select Persona</div>
    </div>

  </div>
</header>
<!--<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>-->
<router-outlet></router-outlet>
