<section class="main-content">
  <div _ngcontent-c1="" id="" class="row">
    <div class="col-md-4 col-sm-6 col-6">
      <div _ngcontent-c1="" class="card">
        <a href="" class="">
          <div class="body text-center">
            <div class="user-img">
              <img src="images/Freight_Forwarder.jpeg" class="rounded-circle size-100 avatar-shadow mb-3" alt="" height="180px" width="180px">
            </div>
            <h5>Freight Forwarder</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-6">
      <div _ngcontent-c1="" class="card">
        <a href="" class="">
          <div class="body text-center">
            <div class="user-img">
              <img src="images/MPC.jpg" class="rounded-circle size-100 avatar-shadow mb-3" alt="" height="180px" width="180px">
            </div>
            <h5>MPC</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-12">
      <div _ngcontent-c1="" class="card">
        <a href="" class="">
          <div class="body text-center">
            <div class="user-img">
              <img src="images/Dealer.jpeg" class="rounded-circle size-100 avatar-shadow mb-3" alt="" height="180px" width="180px">
            </div>
            <h5>Dealer</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
